<style>
  
.incidentBox{
  border: 1px solid black;
  margin: auto;
  text-align: center;
}
th, td{
  padding: 10px;
  border: 1px solid black;
}
</style>
<h1>
  Incident Table
</h1> 

<table *ngIf="incidents" class="incidentBox">
  <tr>
      <th>IncidentId</th>
      <th>CreatorContact</th>
      <th>IssueType</th>
      <th>Location</th>
  </tr>

  <tr *ngFor="let incident of incidents">
      <td>{{incident.incidentId}}</td>
      <td>{{incident.creatorContact}}</td>
      <td>{{incident.issueType}}</td>
      <td>{{incident.location}}</td>
  </tr>
</table>
